@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import "bootstrap/dist/css/bootstrap.rtl.min.css";
@font-face {
    font-family: "vazirmatn";
    src: url(../fonts/Vazirmatn-FD-Light.woff2);

}

:root {
    --main-color-text:#777E90;
    --second-color-text:#3B71FE;
}
* {
    font-family: "Vazirmatn";
}
option {
    font-family: "vazirmatn";
}
.text-color {
    color: var(--main-color-text);
}
.text-bold {
    font-weight: bold;
}